@charset "UTF-8";
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff"), url("../fonts/Stem-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff"), url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.benefins {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form3__row, .services__container, .text-container, .form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: "Stem";
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dfdbdb;
  background-color: #ffffff;
  z-index: 50;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header__burger {
  display: none;
}

.menu__list {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.menu__list a {
  color: rgba(26, 35, 110, 0.6980392157);
  opacity: 0.7;
  transition: all ease 0.5s 0s;
}
.menu__list a:hover {
  color: #151b58;
}
.menu__list .menu__item-number p {
  font-size: 13px;
  color: rgba(26, 35, 110, 0.6980392157);
  opacity: 0.7;
  text-align: right;
  line-height: 1.125rem;
}
.menu__list .menu__item-number a {
  color: #1A236E;
  transition: all ease 0.5s 0s;
}
.menu__list .menu__item-number:hover {
  color: #140d4c;
}
.menu__list .menu__item-btn {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  min-height: 44px;
  min-width: 168px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  line-height: 2.75em;
  font-size: 15px;
  color: #1A236E;
  transition: background ease 0.5s 0s;
}
.menu__list .menu__item-btn:hover {
  background-color: #ecebfc;
  color: #1A236E;
  font-weight: 700;
}

.main {
  flex: 1 1 auto;
}

.main__hero {
  padding-top: 100px;
  background: linear-gradient(rgba(26, 35, 110, 0.5019607843), rgba(26, 35, 110, 0.5019607843)), url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__container {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}
.hero__container h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 24px;
}
.hero__container p {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero__row-btn {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

#hero-btn {
  display: block;
  min-width: 207px;
  min-height: 56px;
  border-radius: 6px;
  color: #1A236E;
  line-height: 3.5em;
  text-align: center;
  font-size: 18px;
}

.hero__btn {
  background: #FFFFFF;
  transition: background ease 0.5s 0s;
}
.hero__btn:hover {
  background-color: #FCDF00;
}

.hero__btn_yellow {
  background: #FCDF00;
  transition: background ease 0.5s 0s;
}
.hero__btn_yellow:hover {
  background-color: #FFFFFF;
}

.hero__text {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6980392157);
}

.benefins {
  margin-top: 120px;
  margin-bottom: 120px;
}

.benefits__container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.benefits__container h2 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #1A236E;
  margin-bottom: 24px;
}
.benefits__container p {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: rgba(26, 35, 110, 0.6980392157);
  margin-bottom: 64px;
}

.benefits__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.benefits__card .card__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 25%;
}
.benefits__card .card__row img {
  width: 200px;
  height: 200px;
  margin-bottom: 27px;
}
.benefits__card .card__row h3 {
  color: #1A236E;
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}
.benefits__card .card__row p {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: rgba(26, 35, 110, 0.4);
}

.slider-show {
  position: relative;
  max-width: 1300px;
  overflow: hidden;
  margin-bottom: 100px;
}

.slider__line {
  display: flex;
  align-items: center;
  transition: all 1s;
}

.slider__container {
  color: #1A236E;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  transition: all 2s;
  overflow: hidden;
}
.slider__container img {
  margin-bottom: 32px;
}
.slider__container p {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}
.slider__container .slider__user {
  font-weight: 500;
}
.slider__container .user__name {
  margin-bottom: 4px;
  font-size: 18px;
}
.slider__container .user__info {
  font-size: 13px;
  color: rgba(26, 35, 110, 0.4);
}

.slider__btn-next, .slider__btn-prev {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 3px 3px 3px #e1dcdc;
}

.slider__btn-prev {
  position: absolute;
  content: "";
  background: #fff;
  box-shadow: 3px 3px 3px #e1dcdc;
  top: 35%;
  right: 85.75%;
}

.slider__btn-next {
  position: absolute;
  content: "";
  top: 35%;
  left: 85.75%;
}

.slider__wrapper {
  display: flex;
  gap: 8px;
  position: absolute;
  content: "";
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__chackpoint {
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.slider__chackpoint.active {
  background-color: #FCDF00;
}

.form {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background: linear-gradient(rgba(26, 35, 110, 0.5019607843), rgba(26, 35, 110, 0.5019607843)), url(../img/form-bg.jpg);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  text-align: center;
}

.form__container {
  max-width: 550px;
  margin: 0 auto;
}
.form__container h2 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.form__container p {
  font-size: 18px;
  margin-bottom: 40px;
}
.form__container input {
  display: block;
  min-width: 207px;
  min-height: 56px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  line-height: 3.5em;
  text-align: center;
  font-size: 18px;
}
.form__container input:focus {
  box-shadow: 1px 1px 13px 10px rgba(26, 168, 238, 0.2);
}

.form__info {
  font-size: 15px;
  margin-bottom: 24px;
}

.form__row_1 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  max-width: 1100px;
  padding-left: 10px;
  margin: 0 auto;
}

.team__text-container {
  margin-bottom: 64px;
}

.text-container {
  gap: 24px;
}

.team__text {
  font-size: 24px;
  color: rgba(26, 35, 110, 0.6980392157);
  text-align: center;
}

.team__subtitle {
  font-size: 28px;
  color: #FCDF00;
}

.team__title {
  font-size: 64px;
  color: #1A236E;
  font-weight: 700;
}

.team__row {
  text-align: center;
}
.team__row .team__card img {
  width: 100%;
  padding-right: 10px;
  margin-bottom: 24px;
}
.team__row .team__card .card__name {
  font-size: 24px;
  color: #1A236E;
  margin-bottom: 8px;
}
.team__row .team__card .card__info {
  font-size: 18px;
  color: rgba(26, 35, 110, 0.6980392157);
}

.services {
  background-color: #1A236E;
  padding-top: 120px;
  padding-bottom: 120px;
}

.services__container .team__title {
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.services__container .team__text {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6980392157);
  margin-bottom: 64px;
}

.services__row {
  display: flex;
  gap: 30px;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.services__card {
  position: relative;
  width: 360px;
  height: 388px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.card__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  margin: 0 auto;
}
.card__container h2, .card__container p {
  font-weight: 700;
  color: #1A236E;
}
.card__container h2 {
  font-size: 48px;
  margin-bottom: 24px;
}
.card__container p {
  font-size: 18px;
  margin-bottom: 8px;
}
.card__container .card__text {
  font-size: 15px;
  color: rgba(26, 35, 110, 0.6980392157);
  padding-bottom: 5px;
}

.card__btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: 44px;
  border-radius: 6px;
  background: #FCDF00;
  line-height: 44px;
  text-align: center;
  font-size: 15px;
  transition: all ease 0.5s;
  color: #1A236E;
}
.card__btn:hover {
  background-color: #fdea57;
  border: 1px solid #1A236E;
}

.stamps {
  padding: 120px 10px;
}
.stamps .team__title {
  text-align: center;
}
.stamps .stamps__img-container {
  margin-top: 64px;
}

.img-container {
  display: flex;
  gap: 30px;
}
.img-container img {
  width: 22.972972973%;
}

.form2-container input {
  gap: 10px;
}
.form2-container #hero-btn {
  background-color: #FF3A23;
  color: #FFFFFF;
}
.form2-container #hero-btn:hover {
  background-color: #f95240;
}

.form__row_1 {
  padding-left: 10px;
  padding-right: 10px;
}

.images {
  padding: 80px 10px;
}
.images .images__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}
.images img {
  width: 100%;
}
.images .images__img1 {
  grid-row: 1/3;
}

.form3 {
  background: linear-gradient(rgba(26, 35, 110, 0.5019607843), rgba(26, 35, 110, 0.5019607843)), url(../img/gorm3-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 18px;
  width: 100%;
  min-height: 800px;
}

.form3__container {
  padding: 0px 10px;
  max-width: 540px;
  margin: 0 auto;
}

.form3__row {
  text-align: center;
}
.form3__row h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
}
.form3__row .form3__label-form1 {
  margin-bottom: 40px;
}
.form3__row .form3__input1 {
  padding-left: 20px;
  width: 100%;
  height: 56px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 18px;
  color: #000;
}
.form3__row .form3__input1:last-child {
  margin-bottom: 24px;
}
.form3__row .form3__input1:focus {
  box-shadow: 1px 1px 13px 10px rgba(10, 10, 10, 0.2);
}

.form3__row_2 {
  margin-bottom: 40px;
}
.form3__row_2 p {
  margin-bottom: 8px;
}
.form3__row_2 .hero__btn_yellow {
  margin: 24px 0;
}
.form3__row_2 .form__text {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

.contacts {
  background-color: #1A236E;
  color: #fff;
  font-size: 18px;
  width: 100%;
  max-height: 400px;
}

.contacts__container {
  display: flex;
  align-items: center;
}

.contacts__map-wrapper {
  width: 705px;
  height: 400px;
}

.contacts__map {
  width: 100%;
  height: 100%;
}

.contacts__info {
  margin: 0 auto;
  padding: 0px 20px;
}
.contacts__info .info__row {
  margin-bottom: 16px;
}
.contacts__info .info__title {
  font-size: 28px;
  font-weight: 700px;
}

.footer {
  background-color: #FCDF00;
  font-size: 18px;
  color: rgba(26, 35, 110, 0.6);
}

li {
  margin-bottom: 16px;
}
li:last-child {
  margin-bottom: 0;
}
li a {
  color: #1A236E;
}

.footer__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 10px;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__row .footer__title {
  font-weight: 700;
}
.footer__row .footer__social {
  display: flex;
  gap: 10px;
}

@media (max-width: 1150px) {
  .slider__container {
    max-width: 600px;
  }
  .slider__container p {
    font-size: 20px;
  }
}
@media (max-width: 960px) {
  .menu {
    display: none;
  }
  .menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    overflow: auto;
  }
  .menu__list a {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 21px;
    font-weight: 700;
  }
  .header__logo {
    margin-left: auto;
  }
  .burger {
    display: flex;
    align-items: center;
  }
  .burger__field {
    padding: 10px;
    cursor: pointer;
  }
  .burger.active .burger__bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .burger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .burger__bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .burger__bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #000;
    transition: 0.3s;
  }
  .header__burger-popup {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fffcfc;
    z-index: 100;
    transition: 0.3s;
  }
  .header__burger-popup.open {
    left: 0;
  }
  body.noscroll {
    overflow: auto;
  }
  .slider__container p {
    font-size: 18px;
  }
  .images .images__row {
    grid-gap: 20px;
  }
  .contacts__info .info__row {
    margin-left: 20px;
  }
}
@media (max-width: 900px) {
  .form__row_1 {
    display: flex;
    flex-direction: column;
  }
  .form__row_1 input, .form__row_1 .hero__btn_yellow {
    width: 400px;
  }
  .contacts__map-wrapper {
    width: 500px;
  }
  .footer__container {
    padding: 40px 10px;
  }
  .benefits__container {
    overflow-x: auto;
    scrollbar-width: none;
  }
  .benefits__container h2 {
    font-size: 50px;
  }
  .benefits__container p {
    font-size: 20px;
  }
  .team__card img {
    width: 90%;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .team__title {
    font-size: 55px;
  }
}
@media (max-width: 836px) {
  .services__row {
    overflow-x: auto;
    scrollbar-width: none;
  }
  .card__container {
    width: 350px;
  }
  .stamps__img-container {
    gap: 10px;
    margin: 0 auto;
    overflow-x: auto;
    scrollbar-width: none;
  }
}
@media (max-width: 793px) {
  .slider__container p {
    font-size: 14px;
  }
  .footer__title {
    display: none;
  }
}
@media (max-width: 620px) {
  .hero__container h1 {
    font-size: 50px;
  }
  .hero__container p {
    font-size: 20px;
  }
  .hero__container .hero__text {
    font-size: 17px;
  }
  .benefits__container h2 {
    font-size: 45px;
  }
  .benefits__container p {
    font-size: 20px;
  }
  .benefits__container .benefits__card .card__row img {
    width: 150px;
    height: 150px;
  }
  .benefits__container .benefits__card .card__row h3 {
    font-size: 25px;
  }
  .benefits__container .benefits__card .card__row p {
    font-size: 22px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 22px;
  }
  .slider__btn-next, .slider__btn-prev {
    width: 50px;
    height: 50px;
  }
  .team__text {
    text-align: center;
    font-size: 23px;
  }
  .stamps .team__title {
    font-size: 50px;
  }
  .stamps .form__info {
    font-size: 12px;
  }
  .team__container {
    overflow-x: auto;
    scrollbar-width: none;
  }
  .team__row {
    width: 1000px;
  }
  .images .images__row {
    grid-gap: 10px;
  }
}
@media (max-width: 550px) {
  .footer__row {
    flex-direction: column;
  }
  .footer__row .footer__social {
    margin-top: 20px;
  }
  .contacts__info {
    display: none;
  }
  .contacts__map-wrapper {
    width: 100%;
  }
  .footer__info {
    margin-bottom: 10px;
  }
  .images {
    padding: 50px 10px;
  }
}
@media (max-width: 440px) {
  .hero__container {
    padding: 0 5px;
  }
  .hero__container h1 {
    font-size: 45px;
  }
  .hero__container p {
    font-size: 20px;
  }
  .hero__container .hero__text {
    font-size: 15px;
  }
  .hero__row-btn {
    flex-direction: column;
  }
  #hero-btn {
    width: 300px;
  }
  .form__container h2 {
    font-size: 45px;
  }
  .form__container p {
    font-size: 17px;
  }
  .form__row_1 input {
    width: 300px;
  }
}
@media (max-width: 320px) {
  .hero__container {
    padding: 0 5px;
  }
  .hero__container h1 {
    font-size: 40px;
  }
  .hero__container p {
    font-size: 20px;
  }
  .hero__container .hero__text {
    font-size: 15px;
  }
  .benefits__container h2 {
    font-size: 40px;
  }
  .benefits__container p {
    font-size: 18px;
  }
  .benefits__card .card__row img {
    width: 120px;
    height: 120px;
  }
  .benefits__card .card__row h3 {
    font-size: 20px;
  }
  .benefits__card .card__row p {
    font-size: 19px;
  }
  .form__container h2 {
    font-size: 40px;
  }
  .form__container p {
    font-size: 15px;
  }
  .team__text-container {
    text-align: center;
  }
  .team__text-container .team__title {
    font-size: 45px;
  }
  .team__text-container .team__subtitle {
    font-size: 25px;
  }
  .team__text-container .team__text {
    font-size: 19px;
  }
  .services__container .team__title {
    font-size: 45px;
  }
  .services__container .team__text {
    font-size: 25px;
  }
  .stamps .team__title {
    font-size: 45px;
  }
  .form3__row h2 {
    font-size: 37px;
  }
}/*# sourceMappingURL=main.css.map */