%flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dfdbdb;
    background-color: #ffffff;
    z-index: 50;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 10px;
}

.header__container {
    @extend %flex;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

    a {
        color: #1A236EB2;
        opacity: 0.7;
        transition: all ease 0.5s 0s;
        &:hover {
            color: #151b58;
        }
    }

    .menu__item-number {
        p {
            font-size: 13px;
            color: #1A236EB2;
            opacity: 0.7;
            text-align: right;
            line-height: 1.125rem;
        }

        a {
            color: #1A236E;
            transition: all ease 0.5s 0s;
        }
        &:hover {
            color: #140d4c;
        }
    }

    .menu__item-btn {
        display: block;
        text-align: center;
        min-height: 44px;
        min-width: 168px;
        border-radius: 6px;
        border: 1px solid #0000001A;
        line-height: 2.75em;
        font-size: 15px;
        color: #1A236E;
        transition: background ease 0.5s 0s;

        &:hover {
            background-color: #ecebfc;
            color: #1A236E;
            font-weight: 700;
        }
    }
}


