@media (max-width: 960px) {
    .header__container {
        margin: auto 30px;
    }
    .menu {
        display: none;
    }
    .menu__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        overflow: auto;
        a {
            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 21px;
            font-weight: 700;
        }
    }
    .header__logo {
        margin-left: auto;
    }

    .burger {
        display: flex;
        align-items: center;
    }
    .burger__field {
        padding: 10px;
        cursor: pointer;
    }
    .burger.active .burger__bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger__bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .burger__bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #000;
        transition: 0.3s;
    }
    .header__burger-popup {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fffcfc;
        z-index: 100;
        transition: 0.3s;
    }
    .header__burger-popup.open {
        left: 0;
    }
    body.noscroll {
        overflow: auto;
    }
}