@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Bold.woff2') format('woff2'),
         url('../fonts/Stem-Bold.woff') format('woff'),
         url('../fonts/Stem-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Medium.woff2') format('woff2'),
         url('../fonts/Stem-Medium.woff') format('woff'),
         url('../fonts/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

@import "./nullstyle";
@import "./footer";

%flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: 'Stem';
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

@import "./header";

.main {
    flex: 1 1 auto;
}

.main__hero {
    padding-top: 100px;
    background: linear-gradient(#1A236E80, #1A236E80), url(../img/hero-bg.png);
    width: 100%;
    height: 100vh;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

    h1 {
        font-size: 64px;
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

.hero__row-btn {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

#hero-btn {
    display: block;
    min-width: 207px;
    min-height: 56px;
    border-radius: 6px;
    color: #1A236E;
    line-height: 3.5em;
    text-align: center;
    font-size: 18px;
}

.hero__btn {
    background: #FFFFFF;
    transition: background ease 0.5s 0s;
    &:hover {
        background-color: #FCDF00;
    }
}

   
.hero__btn_yellow {
        background: #FCDF00;
        transition: background ease 0.5s 0s;
    &:hover {
        background-color: #FFFFFF;
    }
}

.hero__text {
    text-align: center;
    font-size: 15px;
    color: #FFFFFFB2;
}

.benefins {
    margin-top: 120px;
    margin-bottom: 120px;
    @extend %flex2;
}

.benefits__container {
    max-width: 1100px;
    margin: 0 auto;
    h2 {
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        color: #1A236E;
        margin-bottom: 24px;
    }

    p {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: #1A236EB2;
        margin-bottom: 64px;
    }
}

.benefits__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .card__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 25%;
        flex-wrap: wrap;

        img {
            width: 200px;
            height: 200px;
            margin-bottom: 27px;
        }
        h3 {
            color: #1A236E;
            font-size: 28px;
            margin-bottom: 16px;
            text-align: center;
        }
        p {
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            color: #1A236E66;
        }
    }
}

 .slider-show {
    position: relative;
    max-width: 1300px;
    overflow: hidden;
    margin-bottom: 100px;
}

.slider__line {
    display: flex;
    align-items: center;
    transition: all 1s;
}

.slider__container {
    color: #1A236E;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    transition: all 2s;
    // overflow: hidden;

    img{
        margin-bottom: 32px;
    }
    p {
        font-weight: 700;
        font-size: 1.6667vw;
        margin-bottom: 32px;
    }

    .slider__user {
        font-weight: 500;
    }
    .user__name {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .user__info {
        font-size: 13px;
        color: #1A236E66;
    }

}

.slider__btn-next, .slider__btn-prev {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 3px 3px 3px #e1dcdc;
}

.slider__btn-prev {
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 3px 3px 3px #e1dcdc;
    top: 30%;
    right: 85.75%;
}

.slider__btn-next {
    position: absolute;
    content: '';
    top: 30%;
    left: 85.75%;
}

.slider__wrapper {
    display: flex;
    gap: 8px;
    position: absolute;
    content: '';
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.slider__chackpoint {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #0000001A;

    &.active {
        background-color: #FCDF00;
    }
}

.form {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background: linear-gradient(#1A236E80, #1A236E80), url(../img/form-bg.jpg);
    color: #FFFFFFCC;
    font-weight: 600;
    text-align: center;
}

.form__container {
    @extend %flex3;
    max-width: 550px;
    margin: 0 auto;

    h2 {
        color:#FFFFFF;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    input {
        display: block;
        min-width: 207px;
        min-height: 56px;
        border-radius: 6px;
        color: rgb(162, 162, 162);
        line-height: 3.5em;
        text-align: center;
        font-size: 18px;
    }
}

.form__info {
    font-size: 15px;
    margin-bottom: 24px;
}

.form__row_1 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-container {
    max-width: 1100px;
    margin: 0 auto;
}

.team__text-container {
    margin-bottom: 64px;
}

.text-container {
    @extend %flex3;
    gap: 24px;
}
.team__text {
    font-size: 24px;
    color: #1A236EB2;
}

.team__subtitle {
    font-size: 28px;
    color: #FCDF00;
    }
.team__title {
    font-size: 64px;
    color: #1A236E;
    font-weight: 700;
}

.team__row {
    @extend %flex4;
    text-align: center;

    img {
        margin-bottom: 24px;
    }
    .card__name {
        font-size: 24px;
        color: #1A236E;
        margin-bottom: 8px;
    }

    .card__info {
        font-size: 18px;
        color: #1A236EB2;
    }

}

.services {
    background-color: #1A236E;
    padding-top: 120px;
    padding-bottom: 120px;
}

.services__container {
    @extend %flex3;
    .team__title {
        font-size: 48px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }
    .team__text {
        color: #FFFFFFB2;
        margin-bottom: 64px;
    }
    
}

.services__row {
    display: flex;
    gap: 30px;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.services__card {
    position: relative;
    width: 360px;
    min-height: 388px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.card__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin: 0 auto;

    h2,  p {
        
        font-weight: 700;
        color: #1A236E;
        
    }
    h2 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    p {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .card__text {
        font-size: 15px;
        color: #1A236EB2;
        padding-bottom: 5px;
    }
}

.card__btn {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 84%;
    height: 44px;
    border-radius: 6px;
    background: #FCDF00;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    color: #1A236E;
}
   
 





