doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Ремогт ноутбуков
    body
        .wrapper 
            header.header
                .header__container.container 
                    .header__logo 
                        img(src="./img/header__logo.png", alt="logo")
                    nav.header__menu.menu 
                        ul.menu__list 
                            li
                                a(href="#") Преимущества
                            li
                                a(href="#") Команда
                            li
                                a(href="#") Услуги
                            li.menu__item-number
                                p Cлужба продаж
                                a(href="+74951234567") +7 495 123-45-67
                            li
                                a.menu_item-btn(href="#") Заказать звонок
            main.main 
                .main__hero.hero
                    img(src="#", alt="");
                    .hero__container
                        h1 Ремонт ноутбуков <br> в вашем городе
                        p Ремонт ноутбуков и другой техники в вашем городе по самым низким ценам
                        .hero__row-btn 
                            a.hero__btn_yellow(href="#", id="hero-btn") Оставить заявку
                            a.hero__btn(href="#", id="hero-btn") Узнать подробности
                        p.hero__text Оставьте заявку прямо сейчас и получите в подарок <br> бесплатную диагностику с выездом на дом