doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Ремонт ноутбуков
    body
        .wrapper 
            header.header
                .header__container.container 
                    .header__logo 
                        img(src="./img/header__logo.png", alt="logo")
                    nav.header__menu.menu 
                        ul.menu__list 
                            li
                                a(href="#") Преимущества
                            li
                                a(href="#") Команда
                            li
                                a(href="#") Услуги
                            li.menu__item-number
                                p Cлужба продаж
                                a(href="+74951234567") +7 495 123-45-67
                            li
                                a.menu__item-btn(href="#") Заказать звонок
            main.main 
                .main__hero.hero
                    .hero__container
                        h1 Ремонт ноутбуков <br> в вашем городе
                        p Ремонт ноутбуков и другой техники в вашем городе по самым низким ценам
                        .hero__row-btn 
                            a.hero__btn_yellow(href="#", id="hero-btn") Оставить заявку
                            a.hero__btn(href="#", id="hero-btn") Узнать подробности
                        p.hero__text Оставьте заявку прямо сейчас и получите в подарок <br> бесплатную диагностику с выездом на дом
            
                section.benefins
                    .benefits__container 
                        h2 Нам доверяют
                        p Более 5 000 физических и юридических лиц доверили нам <br> ремонт своей техники
                        .benefits__card.card 
                            .card__row 
                                img(src="./img/card1.svg", alt="")
                                h3 Гарантия 5 месяцев
                                p Создавайте счёт и отправляйте контрагенту одной кнопкой
                            .card__row 
                                img(src="./img/card1.svg", alt="")
                                h3 Выезжаем к вам домой
                                p Создавайте счёт и отправляйте контрагенту одной кнопкой
                            .card__row 
                                img(src="./img/card1.svg", alt="")
                                h3 Более 5 лет на рынке
                                p Создавайте счёт и отправляйте контрагенту одной кнопкой
                            .card__row 
                                img(src="./img/card1.svg", alt="")
                                h3 Чиним всю технику
                                p Создавайте счёт и отправляйте контрагенту одной кнопкой
                section.slider
                .slider-show.container 
                    .slider__line 
                        .slider__container 
                            img(src="./img/slider-img.svg", alt="slider-img")
                            p Работа с сервисом приносит радость, потому что высочайший профессионализм, удобство, оперативность, и просто приятные люди!
                            .slider__user.user
                                p.user__name Александра Селезнева
                                p.user__info фотограф
                        .slider__container 
                            img(src="./img/slider-img.svg", alt="slider-img")
                            p Работа с сервисом приносит радость, потому что высочайший профессионализм, удобство, оперативность, и просто приятные люди!
                            .slider__user.user
                                p.user__name Александра Селезнева
                                p.user__info фотограф
                        .slider__container 
                            img(src="./img/slider-img.svg", alt="slider-img")
                            p Работа с сервисом приносит радость, потому что высочайший профессионализм, удобство, оперативность, и просто приятные люди!
                            .slider__user.user
                                p.user__name Александра Селезнева
                                p.user__info фотограф
                        .slider__container 
                            img(src="./img/slider-img.svg", alt="slider-img")
                            p Работа с сервисом приносит радость, потому что высочайший профессионализм, удобство, оперативность, и просто приятные люди!
                            .slider__user.user
                                p.user__name Александра Селезнева
                                p.user__info фотограф
                
                    button.slider__btn-prev 
                    button.slider__btn-next 

                    .slider__wrapper 
                        .slider__chackpoint.active 
                        .slider__chackpoint 
                        .slider__chackpoint
                        .slider__chackpoint
                section.form
                    .form__container 
                        h2 Закажи онлайн
                        p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                        form.form__row_1(action="" method="post")
                            input(type="text", id="phone" name="phone", placeholder="+7 (000) 000-0000") 
                            button.hero__btn_yellow(type="submit", id="hero-btn") Оставить заявку
                        p.form__info Оставляя заявку, вы соглашаетесь на обработку персональных данных и с условиями бронирования счёта
                section.team
                    .team__container.team-container
                        .team__text-container.text-container
                            p.team__subtitle Лучшие в своем деле
                            h2.team__title Наша команда
                            p.team__text Вот уже 12 лет мы помогаем вашей техники служить долго
                        .team__row
                            .team__card.card 
                                img(src="./img/team__card1.png", alt="")
                                p.card__name Имя Фамилия
                                p.card__info Ремонтирую ноутбуки
                            .team__card.card 
                                img(src="./img/team__card2.png", alt="")
                                p.card__name Имя Фамилия
                                p.card__info Устанавливаю ПО
                            .team__card.card 
                                img(src="./img/team__card3.png", alt="")
                                p.card__name Имя Фамилия
                                p.card__info Чиню приставки
                section.services
                    .services__container.servisec-container 
                        h2.team__title Пакеты услуг
                        p.team__text Выберите подходящий пакет услуг
                    
                    .services__row
                        .services__card.card 
                            .card__container 
                                h2 0 ₽
                                p Диагностика вашей техники
                                .card__text Проведём полную диагностику вашей техники. Вы можете привезти технику в наш офис, либо мы сами заберём её из вашего дома или офиса
                                a.card__btn Рассчитать
                        .services__card.card 
                            .card__container 
                                h2 от 990 ₽ 
                                p Ремонт ноутбуков
                                .card__text. 
                                    - Замена дисплея <br>
                                    - Установка оперативной памяти <br>
                                    - Установка ОС <br>
                                    - Чистка от вирусов <br>
                                    - Установка программного обеспечения <br>
                                    и т. д.

                                a.card__btn Рассчитать
                        .services__card.card 
                            .card__container 
                                h2 от 495 ₽
                                p Диагностика вашей техники
                                .card__text. 
                                    - Ремонт зарядных устройств <br>
                                    - Замена дисплеев <br>
                                    - Пайка микросхем <br>
                                    - Установка комплектующих <br>
                                    - Ремонт портативных компьютеров, ПК <br>
                                    - Ремонт роутеров <br>
                                    и т. д.
                                a.card__btn Рассчитать
                section.stamps.team-container 
                    .team__title Ремонт всех марок
                        .stamps__img-container.img-container
                            img(src="./img/img4.png", alt="img4")
                            img(src="./img/img1.png", alt="img1")
                            img(src="./img/img2.png", alt="img2")
                            img(src="./img/img3.png", alt="img3")
                section.form
                    .form__container.form2-container 
                        h2 Свяжитесь с нами
                        p Оставьте заявку на банковскую гарантию
                        form.form__row_1(action="" method="post")
                            input(type="text", name="name", placeholder="Ваше имя")
                            input(type="text", id="phone", name="phone", placeholder="+7 (000) 000-0000") 
                            input(type="text", name="email", placeholder="E-mail")  
                            button.hero__btn_yellow(type="submit", id="hero-btn") Оставить заявку
                        p.form__info Оставляя заявку, вы соглашаетесь на обработку персональных данных и с условиями бронирования счёта 
                section.images.team-container
                    .images__row 
                        img.images__img1(src="./img/images-img1.png", alt="")
                        img(src="./img/images-img2.png", alt="")
                        img(src="./img/images-img3.png", alt="")
                section.form3.main__hero
                    .form3__container 
                        .form3__row
                            h2 Закажите ремонт техники
                            label.form3__label-form1(for="cd") Заполните форму и закажите полис
                            input.form3__input1#cd(type="text" name="name", placeholder="Ваше имя") 
                            input.form3__input1(type="text", id="phone", name="phone", placeholder="+7 (000) 000-0000") 
                            input.form3__input1(type="text", name="email", placeholder="E-mail")
                        .form3__row_2
                            p Какой полис вас интересует
                            .form3__btn-radio 
                                input#radio(type="radio", name="radio", checked)
                                label(for="radio") КАСКО
                            .form3__btn-radio 
                                input#radio(type="radio", name="radio")
                                label(for="radio") ОСАГО
                            .form3__btn-radio 
                                input#radio(type="radio", name="radio")
                                label(for="radio") Страхование жизни
                            a.hero__btn_yellow(href="#", id="hero-btn") Заказать полис
                            p.form__text Оставляя заявку, вы соглашаетесь на обработку персональных данных и с условиями бронирования счёта

                               




                



        script(src="https://unpkg.com/imask")
        script(src="./js/form.js")
        script(src="./js/slider.js")
